{% extends '_helpers/_base.html' %}

{% block content %}
    {# [owner_info]-[BEGIN] #}
    <h4 class="text-center">
        <span>Animals of </span>
        <span>"{{ owner.name }}"</span>
    </h4>
    {# [owner_info]-[END] #}

    {# [animal_creating_form]-[BEGIN] #}
    <div class="card element-centered" style="width: 18em;">
        <div class="card-body">
            <h5 class="card-title">Add your animal</h5>
            {% include 'animals/animal_form__component.html' %}
        </div>
    </div>
    {# [animal_creating_form]-[END] #}


    {# [animals_list]-[BEGIN] #}
    <ul>
        {% for animal in object_list %}
            <li class="row my-elements-box">
                <div class="col my-element-style">
                    <div class="my-avatar">
                        {% if animal.avatar %}
                            <img src="{{ animal.avatar.url }}" alt="Avatar">
                        {% endif %}
                    </div>

                    <div class="my-element-content">
                        <span>{{ animal.name }}</span>
                        <span> - </span>
                        <span>{{ animal.age }}</span>
                        <span> - </span>

                        {% if animal.kind is not None %}
                            <span>{{ animal.kind }}</span>
                        {% else %}
                            <span>Unknown</span>
                        {% endif %}

                        <span> - </span>
                        <span>{{ animal.modified_at }}</span>
                    </div>

                    <div class="my-element-controls">
                        <a href="{% url 'animals:update' pk=animal.id %}">
                            <button class="btn btn-primary">
                                Edit
                            </button>
                        </a>

                        <a href="{% url 'animals:delete' pk=animal.id %}">
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {# [animals_list]-[END] #}
{% endblock %}
